.custom-modal {
	border-radius: 24px;
}

.custom-modal .modal-content {
	border-radius: 24px;
}

.form-dropdown {
	width: 100%;
	padding: 10px 15px; /* Menambah ruang di kiri dan menjaga simetri atas-bawah */
	border-radius: 10px;
	border: 1px solid grey;
	appearance: none; /* Opsional: untuk custom panah sendiri */
	background-color: white;
	font-size: 14px;
	display: flex;
	align-items: center;
	height: 40px; /* Sesuaikan dengan tinggi input "Nama Obat" */
}

.custom-modal .modal-content {
    border-radius: 24px;
    padding: 10px;
}

.btn-edit {
    background: #0d6efd;
    color: white;
    padding: 6px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
}

.btn-save {
    background: #121313;
    color: white;
    padding: 6px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
}

.btn-cancel {
    color: #dc3545;
    cursor: pointer;
    font-size: 13px;
    padding-top: 6px;
}

